<section class="about">
  <div class="about__box" data-aos="zoom-in">
    <h2>About:</h2>
    <p>
      Hallo, I'm DragonWF. Just my online username, I'm not really confident at
      sharing my real name here but I'll be talking about stuff about myself
      with some exceptions of course.
    </p>
    <p>
      I'm a programmer who started programming back at 2019. That was when I
      first learned about the GoDot Engine and GDscript. I didn't really program
      as much back then and my learning path was all over the place so I pretty
      much didn't improve as much during that time.
    </p>
    <p>
      Nowadays I'm taking it seriously and found some good learning paths on
      where to start and what to do next and so far, I've actually made quite a
      lot of progress. Right now at the time I'm typing this, I've learned how
      to program in Python and JavaScript. I've also learned how to code in
      HTML5 and CSS3. Extra Note: I'm also planning to learn Java and C# at the
      near future once I get comfortable enough with JavaScript.
    </p>
    <p>
      I'm planning to take a BSIT in college, Bachelor of Science in Information
      Technology and that's also why I'm studying quite a lot in my free time
      and been mostly spending my time to improve on my programming skills; So I
      can better prepare myself when I do get to college.
    </p>
    <div id="about__image">
      <picture>
        <source type="image/webp" srcset="images/dragon.webp" />
        <source type="image/jpeg" srcset="images/dragon.jpg" />
        <img src="images/dragon.jpg" alt="" />
      </picture>
    </div>
  </div>
</section>
