<section class="projects">
  <div class="projects__box" data-aos="zoom-in">
    <div class="projects__item">
      <h2>Galactic n' Guns</h2>
      <a href="https://dragonwf.itch.io/galactic-n-guns" target="_blank">
        <picture>
          <source type="image/webp" srcset="images/galactic.webp" />
          <source type="image/png" srcset="images/galactic.png" />
          <img class="projects__image" src="images/galactic.png" alt="" />
        </picture>
      </a>
      <p>A space shooter game made from scratch with Python and PyGame.</p>
    </div>
  </div>
  <div class="projects__box" data-aos="zoom-in">
    <div class="projects__item">
      <h2>Blue Warcook</h2>
      <a href="https://dragonwf.itch.io/blue-warcook" target="_blank">
        <picture>
          <source type="image/webp" src="images/warcook.webp" />
          <source type="image/png" src="images/warcook.png" />
          <img class="projects__image" src="images/warcook.png" alt="" />
        </picture>
      </a>
      <p>
        A game for my friend that I made from scratch made with Python and
        PyGame.
      </p>
    </div>
  </div>
  <div class="projects__box" data-aos="zoom-in">
    <div class="projects__item">
      <h2>The Red Mage: Catch the Gifts</h2>
      <a
        href="https://dragonwf.itch.io/the-red-mage-catch-the-gifts"
        target="_blank"
      >
        <picture>
          <source type="image/webp" srcset="images/gifts.webp" />
          <source type="image/png" srcset="images/gifts.png" />
          <img class="projects__image" src="images/gifts.png" alt="" />
        </picture>
      </a>
      <p>
        A very old game that I made with the GoDot Engine back when I was
        fooling around.
      </p>
    </div>
  </div>
  <div class="projects__box" data-aos="zoom-in">
    <div class="projects__item">
      <h2>DragonBot</h2>
      <a href="https://discord.gg/9JdnnPN" target="_blank">
        <picture>
          <source type="image/webp" srcset="images/bot.webp" />
          <source type="image/png" srcset="images/bot.png" />
          <img
            class="projects__image"
            id="dragonbot"
            src="images/bot.png"
            alt=""
          />
        </picture>
      </a>
      <p>
        A discord bot that I made for my server. Bot invite link is private.
      </p>
    </div>
  </div>
  <div class="projects__box projects__info" data-aos="fade-up">
    <h2>More Projects</h2>
    <p>
      These are my project showcases by the time I typed this. I'm going to be
      making more projects in the future and become better. If you wanna see my
      latest games; you can check out my
      <a href="https://dragonwf.itch.io/" target="_blank">Itch.io Page</a>
      for more info.
    </p>
  </div>
</section>
